#main {
    font-family: 'Raleway', sans-serif;
	content: "";
	background: url(/booklets/hmjStudios back cover 200dpi.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
	opacity: 0.5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
